<div >
  <!-- header area -->
  <div class="row">
    <div class="col-10 ps-5">
      

      <!-- profile area -->
      <div class="row py-4">

      
    <div class="col-3">
      <div class=" row">
        <div class="col-2">

          <button class="rounded-icon" >
            <img src="assets/lang.png">
          </button>
        </div>

        <div class="col-8">

          
          <mat-accordion >
            <mat-expansion-panel togglePosition="before" class="accordionbg"
            (opened)="toggleOverlay(true)"
            (closed)="toggleOverlay(false)">
              <mat-expansion-panel-header >
              
                <div class="d-flex align-items-center justify-content-between gap-4">
                  <h6>عبدالله علي</h6>
                  <div class="profilebtn">
                    <img src="assets/man.png">
                  </div>
                </div>
              </mat-expansion-panel-header>

              <div class="profile-menu">
                <ul>
                  <li>
                    <a href="#">
                      التحويل الي المنصة
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      تسجيل خروج
                    </a>
                  </li>
                </ul>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

     
          
          <div class="col-2">

            <button class="rounded-icon position-relative" >
              <span class="bellrem">
                6
              </span>
              <img src="assets/bell.svg">
            </button>
          </div>

      </div>
    </div>

    <div class="col-9 px-5">
      <div class="searchbar position-relative">
        <input type="text" placeholder="بحث ( Shift + / )">
        <button>
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
    </div>
    <!-- end of profile area -->

    <!-- changeable body -->

    <!-- BLANK AREA -->
    <div class="py-4">
      <router-outlet></router-outlet>
    </div>
    <!--END OF BLANK AREA -->


  </div>
  <!-- end of changeable body -->
    <div class="col-2 pe-0">
      
      <app-dashboard></app-dashboard>

    </div>
  </div>
  <!--end of header area -->

</div>
<!-- overlay grey area -->
<div class="overlay" id="overlay"></div>
<!-- end of overlay grey area -->

