<div class="productarea">
    <div class="d-flex justify-content-end gap-1 p-3">
        <a>تفاصيل المنتج</a>
        /<a routerLink="savings">الإدخار</a>
        /<a routerLink="home">الرئيسية</a>
    </div>
    <div class="row my-3">
        <div class="col-7 leftcont">
            <div>
                <h3 class=" fw-semibold">سبيكة وزن 50 جرام</h3>
            </div>
            <div class="btnscont">
                <button>
                    أضف للمفضلة
                    <i class="bi bi-heart"></i>
                </button>
                |
                <button>
                    مشاركة المنتج
                    <i class="bi bi-share"></i>
                </button>
            </div>

            <div>
                <p>
                    سبيكة وزن 50 جرام هي الخيار الأفضل للإدخار ذات ضريبة دمغة مخفضة تتناسب مع الإدخارات طويلة المدى وللفترات الغير طويلة المدى أيضاً.
                </p>
                <label>عرض المزيد</label>
            </div>
            <div class="d-flex gap-2 justify-content-end my-4">
                <a href="#">جديد</a>|
                <a href="#">تخفيضات</a>|
                <a href="#">الإدخار</a>|
                <a href="#">سبائك</a>|
                <a href="#">حصرياً</a>
            </div>
            <div>

                <div class="bottomcont">
                    <div class="d-flex gap-2">
                        <h4>جرام</h4>
                        <h4 class="fw-semibold">50</h4>
                    </div>
                    <div>
                        <h4 class="fw-semibold">وزن المنتج<i class="bi bi-cart cyellow ms-2"></i></h4>
                    </div>
                </div>

                <div class="bottomcont">
                    <div >
                        <button><i class="bi bi-plus-circle"></i></button>
                    </div>
                    <div>
                        <h4 class="fw-semibold">جدول القياسات<i class="bi bi-box ms-2 cyellow"></i></h4>
                    </div>
                </div>

                <div class="d-flex gap-2 mt-4">
                    <h3 class="fw-semibold">ر.س</h3>
                    <h3 class="fw-semibold">250.00</h3>
                </div>
                <div>

                    <button class="ybtn" (click)="openProductOptions()">
                        خيارات المنتج
                    </button>
                </div>

            </div>
        </div>
        <div class="col-5">

            <div class="d-flex  justify-content-end">
                <div class="bigimgcontainer">

                    <img [src]="selectedImage" class="big-image" alt="Selected Image" />
                </div>
          
                <div class="thumbnail-container">
                    <img
                    *ngFor="let image of images"
                    [src]="image"
                    class="thumbnail"
                    (click)="selectImage(image)"
                    alt="Thumbnail"
              />
            </div>
          </div>
                </div>
    </div>
    <!-- product options -->
    <div id="productOptionBG">
        <div class="productOptionCard">
            <div>
                <h3>خيارات المنتج</h3>
            </div>
            <div>
                <button class="ybtn2 ">
                    تحويل الي جرامات حرة
                </button>
            </div>
            <div>
                <button class="ybtn2" (click)="openSabek()">
                    سبك وإستلام         
                </button>
            </div>
            
            <div>
                <button class="ybtn3 ">
                    بيع السبيكة
                </button>
            </div>
            <div>
                <button class="ybtn4 " (click)="closeProductOptions()">
                    الغاء
                </button>
            </div>
            <div>
                <button class="closebtn" (click)="closeProductOptions()">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
        </div>
        
        <div id="sabek-cont">
            <div>
                <h3>وزن الجرامات المراد بيعها</h3>
            </div>
            <div>
                <button class="closebtn" (click)="closeSabek()">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
            <div>
                <input type="text" placeholder="0.00 جرام" />
            </div>
            <div>
                <input type="submit" value="أرسال الطلب"  class="ybtn2"/>
            </div>
        </div>
        <div>

        </div>
    </div>
   <!--end of product options -->
</div>