
<div class="dashboardbg py-4">

    
        <div class="saudi-logo pb-3">
                <img src="/assets/slogo2.svg" class="w-100 " >  
                <img src="/assets/slogo1.svg" class="w-100">  
        </div>
        
        <div class="dashmenu">
            <ul>
                <li routerLinkActive="active">
                    
                    <a [routerLink]="['/home']"   >
                        لوحة التحكم
                        <i class="bi bi-house-door-fill"></i>
                    </a>
                </li>

                <li routerLinkActive="active" >
                    <a routerLink="/savings">
                        الإدخارات
                        <i class="bi bi-coin"></i>
                    </a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="/investments">
                        خطط الإستثمار
                        <i class="bi bi-graph-down"></i>
                    </a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="goldenbets">
                        الرهونات الذهبية
                        <i class="bi bi-currency-exchange"></i>
                    </a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="loans">
                        القروض التمويلية
                        <i class="bi bi-cash"></i>
                    </a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="favorites">
                        المفضلة
                        <i class="bi bi-box2-heart"></i>
                    </a>
                </li>
            </ul>
        
        </div>
        
        <div class="btop">
        </div>

        <div class="dashmenu">
            <ul >
                <li routerLinkActive="active">
                    <a routerLink="profile">
                        الملف الشخصي
                        <i class="bi bi-person-lines-fill"></i>
                        </a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="events">
                        الأحداث
                        <i class="bi bi-radar"></i>
                    </a>
                </li>

             
                <li routerLinkActive="active">
                    <a routerLink="wallet">
                        المحفظة
                        <i class="bi bi-wallet"></i>
                    </a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="MyOrders">
                        طلباتي
                        <i class="bi bi-bag-dash"></i>
                    </a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="settings">
                        الإعدادات
                        <i class="bi bi-gear"></i>
                    </a>
                </li>
            </ul>
        </div>
</div>