<div>

    <div class="row">
        <!-- charts -->
        <div class="col-3">
        <app-charts></app-charts>
        </div>
                <!--end of charts -->

                <!-- middle content -->
        <div class="col-9 px-5">

            <!-- ad area -->
            <div class=" position-relative">
                <img src="/assets/greenbg.svg" class="w-100 ">
                <div >
                    <div class="row position-absolute top-0">
                        <div class="col-8 adbanner">

                            <img src="/assets/goldbg.svg">
                        </div>
                        <div class="col-4 bannerright">
                            
                            <h2 class="w-100 text-end text-white">أكتشف وأشتري الآن
                                سبائك الذهب</h2>

                                <button>أكتشف الآن</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of ad area -->

            <div class="mt-2">
                <div class="row">
                    <div class="col-3 d-flex flex-column justify-content-center">
                        <h5>مشاهدة الكل</h5>
                    </div>
                    <div class="col-9 text-end">
                        <h2>إكتشف حسب رغبتك</h2>
                    </div>
                </div>

                <div class="quickfilters">
                   
                    
                    
                    <a href="#">
                        <div>
                            <div>
                                <img src="/assets/rings.svg">
                            </div>
                            <h6>
                                الرهونات الذهبية
                            </h6>
                        </div>
                    </a>

                    <a href="#">
                        <div>
                            <div>
                                <img src="/assets/money.svg">
                            </div>
                            <h6>
                                القروض
                            </h6>
                        </div>
                    </a>
                    
                    <a href="#">
                        <div>
                            <div>
                                <img src="/assets/clock.svg">
                            </div>
                            <h6>
                                الإستثمارات
                            </h6>
                        </div>
                    </a>

                    <a href="#">
                        <div>
                            <div>
                                <img src="/assets/edkhar.svg">
                            </div>
                            <h6>
                                الإدخارات            
                                </h6>
                        </div>
                    </a>

                    <a href="#">
                        <div>
                            <div>
                                <img src="/assets/fire.png">
                            </div>
                            <h6>
                                رائج الآن
                            </h6>
                        </div>
                    </a>
                   
                </div>
                <div class="cardsarea ">



                    


                    <div class="card1">
                        <div class="imgcontainer">
                            <img src="/assets/biggold.png">
                            <button >
                                <i class="bi bi-heart-fill"></i>
                            </button>
                        </div>
                        <a href="#">

                            <div class="cardtext">
                                
                                <h3>سبيكة ذهبية عيار 24</h3>
                                <div class="row">
                                    <div class="col-3">
                                <span>
                                    <i class="bi bi-arrow-down-up"></i>
                                    4.5%</span>
                                </div>
                                <div class="col-9 d-flex justify-content-end gap-2">
                                    <h5>سعودي جولد</h5>
                                    <div>
                                        <img src="/assets/minilogo.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                    </div>

                    

                </div>
            </div>

        </div>
                        <!-- end of middle content -->

    </div>
</div>